.ui.segment {
    border-color: #000 !important;
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form textarea {
    border-color: #000 !important;
}

.ui.form span {
    color: red;
    font-size: 1.2em;
}

.feedback-logo {
    margin-left: -25px;
    margin-top: -40px;
    margin-bottom: -25px;
}


p.error-msg {
    margin-top: 5px;
    color: #9f3a38;
}
